$title_font: "Libre Baskerville";

$m_orange: #ff4612;
$points: #606060;

$t_grey: #6a6a6a;

$border_grey1: #ececec;
$border_grey2: #ebebeb;
$border_grey3: #cccccc;

$bg_grey: #e1e1e1;
$bg_grey2: #1e1e1e4d;



$fSize_H: 5.3rem; //
$fSize_2: 2.8rem; 
$fSize_3: 2.2rem;


$fSize_4: 1.35rem; //
$fSize_5: 1.18rem; 

$fSize_6: 1.06rem; //
$fSize_7: 0.81rem; //





