$title_font: "Libre Baskerville";

$orange: #ff4612;


// font size
$fSize_H: 4.4rem;
$fSize_2: 2.8rem;
$fSize_3: 2.2rem;

// upcoming event and similar
$fSize_4: 1.62rem;
$fSize_5: 1.18rem; //places
// date
$fSize_6: 1.06rem;
$fSize_7: 0.81rem;
// end upcoming event and similar

