$title_font: "Libre Baskerville";

$orange: #ff4612;
$points: #606060;

$t_grey: #6a6a6a;

$bg_grey: #e1e1e1;


$fSize_H: 5.3rem; //
$fSize_2: 2.8rem; 
$fSize_3: 2.2rem;


$fSize_4: 1.35rem; //
$fSize_5: 1.18rem; 

$fSize_6: 1.06rem; //
$fSize_7: 0.81rem; //





