@import 'bootstrap';
@import "~@fontsource/source-sans-pro/index.css";
@import "~@fontsource/libre-baskerville/index.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  background-color: #fafafa;
}

ul.none {list-style-type: none;}

.debug {
  border: 1px solid greenyellow;
}

.bg_orange{
  background-color: $orange;
  color: white;
}

.orange { color: $orange}
.bg_orange { background-color: $orange}

